node_modules/
.vscode/
__pycache__/
Authorization/
authorization.txt
authorization.json
**/migrations/*
!**/migrations/__init__.py
*.sqlite3
.idea/
delete.py
*.xlsx
logs/
/media/asn_label/*
!/media/upload_example/*
!/media/asn_label/*.jpg
!/media/asn_label/*.png
!/media/asn_label/*.ttf
aaaaa
~*
pythonlogs/
sqllite_queues/